@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 15px;
}

select {
  width: 200px;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #e6e6e6;
}

select:focus,
button:focus {
  outline: 0;
}

.settings-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.settings.hide {
  transform: translateY(-100%);
}

.container {
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: #424245;
  position: relative;
  text-align: center;
  width: 1000px;
}

h2 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 4px;
  margin: 0 0 40px;
}

h1 {
  margin: 0;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000; /* Adjust the color as needed */
  color: #42424559;
  border-radius: 0;
  font-size: 14px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
  outline: none; /* Removes the default focus outline */
}

input:focus {
  border-bottom-color: #007bff; /* Change color on focus, adjust as needed */
  transition: border-bottom-color 0.3s ease;
}

.score-container {
  position: absolute;
  top: 60px;
  right: 20px;
}

.time-container {
  position: absolute;
  top: 60px;
  left: 20px;
}

.end-game-container {
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: #fff;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 700px;
  z-index: 1;
  overflow-y: auto;
  padding: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.end-game-container > h1,
p {
  color: #424245;
}
.end-game-container > h1 {
  color: #c41e3a;
}

.end-game-container::-webkit-scrollbar {
  display: none;
}

.correct {
  color: #32cd32;
}

.word {
  margin: 50px 5px;
  background-color: #cbcbcb;
  padding: 50px;
  border-radius: 5px;
}

.game-over__list {
  display: flex;
}

.game-over-list__container {
  background-color: #cbcbcb;
  list-style-type: none;
  padding-left: 0;
  padding: 20px;
  border-radius: 5px;
}

.play-again-btn {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.play-again-btn:hover {
  background-color: #1e293b;
  color: #fff;
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: #fff;
  animation: blink 0.7s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .play-again-btn {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .settings-btn {
    bottom: 20px;
    left: 20px;
  }

  .settings {
    height: 60px;
  }

  .container {
    padding: 15px;
  }

  .h2 {
    margin-bottom: 30px;
  }

  .input {
    font-size: 12px;
    padding: 10px 15px;
  }

  .score-container,
  .time-container {
    top: 50px;
  }

  .end-game-container {
    padding: 30px;
    margin: 0px 20px;
  }

  .word {
    margin: 30px 5px;
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .settings-btn {
    bottom: 15px;
    left: 15px;
  }

  .settings {
    height: 50px;
  }

  .container {
    padding: 10px;
    margin: 0px 20px;
  }

  h2 {
    padding: 6px;
    margin-bottom: 20px;
  }

  input {
    font-size: 12px;
    padding: 8px 12px;
  }

  .score-container,
  .time-container {
    top: 40px;
  }

  .end-game-container {
    padding: 20px;
    margin: 0px 20px;
  }

  .word {
    margin: 20px 5px;
    padding: 20px;
  }
}
